<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/MyAngular/app.js"></script>
    <script src="~/Scripts/MyAngular/_Common/filters/Filter.js"></script>
    <script src="~/Scripts/MyAngular/_Common/directives/dateDirective.js"></script>

    @Styles.Render("~/CSS/FontAwesome")
    @Styles.Render("~/CSS/Bootstrap")
    @Styles.Render("~/Content/jqueryui/css")

    @RenderSection("style", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Shanu Hotel Booking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                <li>@Html.ActionLink("Booking", "Index", "Booking", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                <li>@Html.ActionLink("TabTest", "Index", "Tab", new { area = "" }, new { @class = "nav-item nav-link" })</li>
            </ul>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        系統設定
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                        <a class="dropdown-item" href="/Room/">房間設定</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/">v4 Alpha 6</a>
                        <a class="dropdown-item" href="https://getbootstrap.com/docs/3.3/">v3.3.7</a>
                        <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
                    </div>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

@RenderSection("scripts", required: false)
