<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Shanu Hotel Booking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                <li>@Html.ActionLink("Room/Booking", "Index", "Room", new { area = "" }, new { @class = "nav-item nav-link" })</li>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/CSS/Bootstrap")
@RenderSection("scripts", required: false)
